In [1]:
import pandas as pd

In [2]:
dico_1 = {"f":"000", \
          "v1":1, \
          "v2":2
           }

In [3]:
dico_1

{'f': '000', 'v1': 1, 'v2': 2}

In [4]:
dico_2 = {"f":"001", \
          "v1":2, \
          "v2":1
           }

In [5]:
dico_2

{'f': '001', 'v1': 2, 'v2': 1}

In [6]:
df_1 = pd.DataFrame.from_dict(dico_1, orient="Index")

In [7]:
df_1

      0
f   000
v1    1
v2    2

In [8]:
df_2 = pd.DataFrame.from_dict(dico_2, orient="Index")

In [9]:
df_2

      0
f   001
v1    2
v2    1

In [10]:
df_3 = pd.merge(df_1, df_2)

In [11]:
df_3

   0
0  1
1  2

In [12]:
df4 = pd.concat([df_1, df_2])

In [13]:
df4

      0
f   000
v1    1
v2    2
f   001
v1    2
v2    1

In [14]:
df5 = pd.DataFrame([dico_1, dico_2])

In [15]:
df5

     f  v1  v2
0  000   1   2
1  001   2   1

In [19]:
df6 = pd.DataFrame([dico_1])
df7 = pd.DataFrame([df6, dico_2])

E:\SDKs\Python\anaconda\envs\Modis_parser\lib\site-packages\pandas\core\internals\construction.py:305: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

In [20]:
df7

                                0
0        f  v1  v2
0  000   1   2
1  {'f': '001', 'v1': 2, 'v2': 1}

In [35]:
list_of_words = ["ver","jeudi","long","lourd"]

test_words_1 = ["aa","jeudi","long","bb"]

dico_1 = dict()
     
for w in list_of_words:
    is_present = False
    for t in test_words_1:    
        if w.strip().lower() == t.strip().lower():
            is_present = True
    if is_present :
        dico_1.__setitem__(w, 1)
    else : 
        dico_1.__setitem__(w, 0)
       
df = pd.DataFrame([dico_1])
df

   ver  jeudi  long  lourd
0    0      1     1      0