In [1]:
import pandas as pd
import numpy as np
print("setup complete")

setup complete

### Creer un DataFrame a partir de deux séries

In [5]:
serie_1={'row1':18624.48,'row2':4936.21,"row3":11218.28,"row4":3477.8,'row5':2647.9}
display(serie_1)

{'row1': 18624.48,
 'row2': 4936.21,
 'row3': 11218.28,
 'row4': 3477.8,
 'row5': 2647.9}

In [6]:
serie_2={'row1':1,'row2':2,"row3":3,"row4":4,'row5':5}
display(serie_2)

{'row1': 1, 'row2': 2, 'row3': 3, 'row4': 4, 'row5': 5}

In [9]:
dataframe_1 = pd.DataFrame({'serie1':serie_1,'serie2':serie_2})
display(dataframe_1)

        serie1  serie2
row1  18624.48       1
row2   4936.21       2
row3  11218.28       3
row4   3477.80       4
row5   2647.90       5

### Creer un DataFrame à la volée

In [21]:
col1 = [0,  1,  2,  3]
col2 = [10, 20, 30, 40]
col3 = [5,  6,  7,  8]

dataframe_2 = pd.DataFrame({"col1":col1,"col2":col2,"col3":col3})
dataframe_2

   col1  col2  col3
0     0    10     5
1     1    20     6
2     2    30     7
3     3    40     8

In [12]:
pd.DataFrame(np.random.rand(2,2),columns=['e1','e2'],index=['a','b'])

         e1        e2
a  0.600427  0.705112
b  0.340225  0.341925

### Creer un DataFrame à partir d'un dictionnaire

In [18]:
dico = {"col1":col1,"col2":col2,"col3":col3}
display(dico)
dataframe_3 = pd.DataFrame.from_dict(dico)
display(dataframe_3)

{'col1': [0, 1, 2, 3], 'col2': [10, 20, 30, 40], 'col3': [5, 6, 7, 8]}

   col1  col2  col3
0     0    10     5
1     1    20     6
2     2    30     7
3     3    40     8

### Transposer

In [22]:
# transposer
dataframe_3.T

       0   1   2   3
col1   0   1   2   3
col2  10  20  30  40
col3   5   6   7   8