In [1]:
import pandas as pd
import numpy as np
print("setup complete")

setup complete

In [9]:
# remplir avec des valeurs NaN
datafram_with_NaN = pd.DataFrame([
{'row1':12,'row2':11,'row3':15},
{'row1':14,'row2':15},
{'row1':15,'row3':16}],
index=['col1','col2','col3'])

display(datafram_with_NaN)
print("data ready")

      row1  row2  row3
col1    12  11.0  15.0
col2    14  15.0   NaN
col3    15   NaN  16.0

data ready

### Avoir le compte des valeurs naN

In [10]:
# en ligne
sum_NaN_rows = datafram_with_NaN.isna().sum(axis=1)
sum_NaN_rows
display("sum NaN rows :",sum_NaN_rows)

# en colonnes
sum_NaN_cols = datafram_with_NaN.isna().sum(axis=0)
sum_NaN_cols
display("sum NaN cols : ", sum_NaN_cols)

total_NaN_sum = sum_NaN_rows.sum()
display("sum total NaN : ",total_NaN_sum)

'sum NaN rows :'

col1    0
col2    1
col3    1
dtype: int64

'sum NaN cols : '

row1    0
row2    1
row3    1
dtype: int64

'sum total NaN : '

2

In [11]:
# la moyenne
# total  = =  100
#         X 
# sum    = =  ?
#
# sum * 100 / total
total = datafram_with_NaN.count()
total_sum = total.sum()
total_sum = total_sum +  total_NaN_sum
total_sum

9

In [12]:
average_NaN = sum_NaN_cols * 100 / total_sum
average_NaN

row1     0.000000
row2    11.111111
row3    11.111111
dtype: float64

In [13]:
# 9    2
# 100  ?

total_average_NaN = total_NaN_sum * 100 / total_sum
total_average_NaN

22.22222222222222