In [2]:
# supprimer des lignes en fonction d'une valeur
import pandas as pd
fruit_list = [ ('Orange', 34, 'Yes' ) ,
             ('Mango', 24, 'No' ) ,
             ('banana', 14, 'No' ) ,
             ('Apple', 44, 'Yes' ) ,
             ('Pineapple', 64, 'No') ,
             ('Kiwi', 84, 'Yes')  ]
display(fruit_list)
#Create a DataFrame object
df = pd.DataFrame(fruit_list, columns = 
                  ['Name' , 'Price', 'Stock']) 
display("original", df)

# Get names of indexes for which column Stock has value No
indexNames = df[ df['Stock'] == 'No' ].index
display(indexNames)

# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)
display("updated : ", df)

[('Orange', 34, 'Yes'),
 ('Mango', 24, 'No'),
 ('banana', 14, 'No'),
 ('Apple', 44, 'Yes'),
 ('Pineapple', 64, 'No'),
 ('Kiwi', 84, 'Yes')]

'original'

        Name  Price Stock
0     Orange     34   Yes
1      Mango     24    No
2     banana     14    No
3      Apple     44   Yes
4  Pineapple     64    No
5       Kiwi     84   Yes

Int64Index([1, 2, 4], dtype='int64')

'updated : '

     Name  Price Stock
0  Orange     34   Yes
3   Apple     44   Yes
5    Kiwi     84   Yes