In [2]:
import pandas as pd
print("Setup complete")

Setup complete

In [7]:
# remplacer une ou des valeurs
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                   'Y': [5, 6, 7, 8, 9],
                   'Z': ['z', 'y', 'x', 'w', 'v']})
df

   X  Y  Z
0  1  5  z
1  2  6  y
2  3  7  x
3  4  8  w
4  5  9  v

In [10]:
df['X'].replace(to_replace=20, value=2)

0    1
1    2
2    3
3    4
4    5
Name: X, dtype: int64

In [8]:
df = df.replace(to_replace=2, value=20)
df

    X  Y  Z
0   1  5  z
1  20  6  y
2   3  7  x
3   4  8  w
4   5  9  v